[Unit]
Description=D-STAR Repeater Daemon
After=network.target

[Service]
Environment="WIRINGPI_GPIOMEM=1"
User=opendv
ExecStart=/usr/bin/dstarrepeaterd /etc/dstarrepeater/%i.ini
Restart=on-abort

[Install]
WantedBy=multi-user.target
DefaultInstance=dstarrepeater
